.mainContainer {
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  text-align: center;
  width: 100%;
}

.mainContainer h2,
.mainContainer h1,
.mainContainer h3 {
  font-weight: 100;
  margin: 0;
}

.mainContainer h1 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 100;
}

.iconsContainer {
  display: flex;
  gap: 1rem;
  place-content: center;
}

.iconsContainer a {
  background-color: var(--secondary-color);
  border-radius: 9999px;
  box-shadow: 0px 0px 5px 2px var(--terciary-color);
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.iconsContainer a:hover {
  background-color: var(--terciary-color);
  transform: scale(1.1);
}

.iconsContainer a span {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 17px;
  width: 17px;
}

.linkedInIcon {
  background-image: url("../../public/menuIcons/linkedin_white_logo.svg");
}

.gitHubIcon {
  background-image: url("../../public/menuIcons/github_white_icon.svg");
}

@media (min-width: 450px) {
  .mainContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
