.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-color);
  color: white;
}

.layout section {
  padding: 0 0.5rem;
}

.active {
  filter: blur(1px);
}
