.container {
    width: 100%;
    min-height: 90px;
    height: auto;
}

.navBar {
    position: fixed;
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.activeNavBar {
    filter: blur(1px);
}

.optionsContainer {
    background: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: -225px;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    z-index: 10;
}

.logo {
    padding: 0.5rem 2.5rem;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 2.5rem;
    height: 100%;
    list-style: none;
    margin: 0;
}

.iconsContainer {
    display: flex;
    gap: 1rem;
}

.active {
    left: 0;
}